*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-style: italic;
    text-align: justify;
}

/* hero */

.hero {
  background-color: #f9f9f9; /* Light gray background */
  text-align: center;
  height: 80vh;
  background-color: rgb(241,241,241);
}

.hero_head {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background-color: white;
  padding: 20px,20px,10px,20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hero_head img {
  width: 30px;
  height: 30px;
}

.hero_head a {
  color:black;
  text-decoration: none;
  font-weight: bold;
}

.hero_head a:hover {
  text-decoration: underline;
}
.hero_head img{
    width: 30px;
}

#hero_body {
  position: static;
  margin-top: 150px;
  overflow: hidden;
  height: 100%;
}
#img1{
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  right: 0px;
  margin-top: 159px;
  margin-right: 50px;
  top: 0;
  z-index: 0;
}

#hero_people img {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
}


/* footer */

footer {
    width: 100%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-image: url(../images/bc_footer_img.png),url(../images/bc-logo_footer.png);
    background-position: right,left;
    background-repeat: no-repeat;
  }
  .footer-logo span{
    padding-top: 80px;
  }
  
  .social-icons img{
    width: 15px;
    align-items: center;
  }
  
  .footer-title {
    
    padding-bottom: 40px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      
   
  }
  
  .footer-title h1 {
    font-size: 36px;
    margin-bottom: 20px;
    display: inline-block;
    width: 60%;
  }
  
  footer form {
    display: flex;
    align-items: end;
    justify-content: left;
    align-items: center;
    gap: 5px;
    display: inline-block;
  
  }
  
  footer input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #444;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
  }
  
  footer button {
    background-color: #00ff6a;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer button img {
    width: 16px;
    height: 16px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    flex-grow: 1; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .footer-logo {
    flex: 1;
  }
  
  .footer-logo h2 {
    color: #00ff6a;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .footer-logo span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    text-align: left;
    margin-top: 10px;
  }
  
  .social-icons li {
    list-style: none;
  }
  
  .social-icons a {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    color: rgb(194, 194, 194);
    line-height: 40px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font: 30px;
    padding-bottom: 20px;
    color: white;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    color: #bbb;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: #fff;
  }
  
  .footer-bottom p {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
    width: 48%;
    color: #bbb;
  }
  /* --------------About Section--------------- */
  .about{
    width:100%;
    min-height: 100vh;
    background-color: #00ff6a;
    padding: 100px;
 
  }
 
  .abt-btn{
    padding: 10px;
    width: 150px;
   color: black;
    border: none;
    border-radius: 10px;
    transition-duration: 1s;
    margin-left: 20px;
    font-weight: bold;
    background-color: #19472c51;
    margin-bottom: 20px;
    text-align: center;
   
  }
  .abt-btn:focus{
    background-color: #000;
    color: white;
    transform: scale(1.1);
  }
  .abt-abt{
    margin-left: 0;
  }
  .abt-para{
    width: 70%;
  }
  .abt-card{
    display: flex;
    
  }
  .abt-card-1{
    width: 300px;
   height: 300px;
    border: 2px solid gold;
    margin-right: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    
  }
  .abt-box-icon{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 174);
    border-radius: 50%;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .abt-img{
    width: 520px;
    height: 500px;
   position: absolute;
   right: 0;
   top: 800px;
  }
  .card-para{
    overflow-wrap: break-word;
    font-size: 10px;
    letter-spacing: .5px;
   
  }
  .icon{
    color: white;
    font-size: 40px;
  }
  @media only screen and (min-width: 1150px) and (max-width: 1350px) {
    .abt-img {
      width: 420px;
      height: 400px;
      
    }
  }
  @media only screen and (min-width: 900px) and (max-width: 1150px) {
    .abt-img {
      width: 320px;
      height: 300px;
    
    }
  }
  /* --------------Challenge Section--------------- */
  .challenge{
    width: 100%;
    min-height: 100vh;
    background-color: gainsboro;
    padding: 50px;
  }
  .ch-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
    
    border-bottom: 2px solid gold;
   
  }
  .ch-head div h1{
    width: 100%;
    
  }
  .ch-head div+div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
  .ch-btn{
    width: 200px;
  }
  .ch-content{
    width: 100%;
    margin-top: 70px;
    display: flex;
    /* background-color: violet; */
  }
  .ch-left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
   
  }
  .ch-left h5{
    color: gray;
  }
  .ch-left h1{
    font-weight: 300;
  }
  .ch-more-btn{
    margin-left: 0;
    margin-top: 20px;
  }
  .ch-right{
    width: 60%;
    position: relative;
  }
  .ch-pic{
    width: 45%;
    height: 450px;
   position: absolute;
   right: 10%;
   top: -20%;

    
  }
  /* --------------------Business Style ------------ */
  .business{
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 49, 49);
    position: relative;
    padding-top: 20vh;
  }
  .bus-card{
    width: 600px;
    height: 400px;
    background-color: #e3ff46;
    position: absolute;
    left: 30%;
    top: 0;
  }
  .bus-content{
    width: 100%;
    height: 80vh;
    background-color: red;
    padding-top: 200px;
    background-color: #000;
  }